# Введение в Python

## 1. Простые типы данных

### 1.1 None

In [4]:
# Задайте новой переменной N нейтральное значение и выведите ее на экран с помощью функции print():
N = None
print(N)

None

In [5]:
# Определите тип переменной N с помощью функции type()
type(N)

NoneType

### 1.2 Числовые типы данных

В Python есть есть четыре вида числового типа данных:

int - (целое число)

long - (длинное целое число [может быть представлено в восьмеричной или шестнадцатеричной системе исчисления])

float - (число с плавающей точкой: -0.2, 0.0, 3.14159265 и т.д.)

complex - (комплексное число)

In [6]:
# Операции над целыми числами. 
# Выполните все операции, представленные в таблице с использованием переменных x = 10 y = 2 и выведите значение на экран
# в формате X+Y = %Ответ%  и определите тип полученного значения
x = 10
y = 2
print("x + y =", (x+y), "; type = ", type(x+y))
print("x - y =", (x-y), "; type = ", type(x-y))
print("x * y =", (x*y), "; type = ", type(x*y))
print("x / y =", (x/y), "; type = ", type(x/y))
print("x // y =", (x//y), "; type = ", type(x//y))
print("x % y =", (x%y), "; type = ", type(x%y))
print("divmod(x,y) =", divmod(x,y), "; type = ", type(divmod(x,y)))

x + y = 12 ; type =  <class 'int'>
x - y = 8 ; type =  <class 'int'>
x * y = 20 ; type =  <class 'int'>
x / y = 5.0 ; type =  <class 'float'>
x // y = 5 ; type =  <class 'int'>
x % y = 0 ; type =  <class 'int'>
divmod(x,y) = (5, 0) ; type =  <class 'tuple'>

__Побитовые операции с числами:__

Операция |Описание
:---------|--------:
x ^ y    |Побитовое исключающее или
x & y    |Побитовое и
x << n   |Битовый сдвиг влево
x >> y   |Битовый сдвиг вправо
~x       |Инверсия битов

### 1.3 Строки

| Тип         | Пример       |
| ----------- | ----------- |
| Строка       | 'hello'     |
| Строка       | "hello"     |
| Строка       | '''hello''' |
| Raw string  | r'hello'    |
| Byte string | b'hello'    |

In [7]:
s = "'Python' is the capital of Great Britain"
print(s)

'Python' is the capital of Great Britain

In [8]:
type(s)

str

In [9]:
print("\"Python\" is the capital of Great Britain")

"Python" is the capital of Great Britain

In [10]:
print('hi \n\\ th\tere')

hi
\ th	ere

In [11]:
print(r'''hi \n '"there''')

hi \n '"there

In [12]:
long_string = "Perl — это тот язык, который одинаково " \
              "выглядит как до, так и после RSA шифрования." \
              "(Keith Bostic)"
print(long_string)
long_string = """
    Обычно в таких кавычках
    пишут докстринги к функциям
"""
print(long_string)

Perl — это тот язык, который одинаково выглядит как до, так и после RSA шифрования.(Keith Bostic)

    Обычно в таких кавычках
    пишут докстринги к функциям

In [13]:
# Перенос строк нужен также для очень длинных выражений
3 * (5 + 6) - 45 * (60 - 9) + 123 * (544 - 450) \
+ 65 * (56 + 23) + 98 * (3 ** 4 + 5)

22863

| Операция     | Результат        |
| ------------| -------------- |  
| s + s2      | Сложение        |
| 'foo' in s2 | Вхождение       |
| s == s2     | Равенство        |
| s != s2     | Неравенство      |
| s >= s2     | Больше-равно     |
| s > s2      | Больше          |
| s * num     | Повторение|
| s[0]        | Доступ по индексу |
| len(s)      | Длина           |

In [14]:
'one' + 'two'

'onetwo'

In [15]:
'one' * 10

'oneoneoneoneoneoneoneoneoneone'

In [16]:
s1 = "asd"
s2 = s1

In [17]:
s1 += "a"

In [18]:
s2

'asd'

In [19]:
# При изменении строки - создается новая строка
s1 = 'first'
print(id(s1))

s1 = s1 + '1'
s1 += '1'
print(id(s1))

4453487424
4493976328

In [20]:
s1[0]

'f'

In [21]:
s1[0] = '1'

TypeError: 'str' object does not support item assignment

#### Форматирование строк

In [22]:
name = 'World'

print('Hello, {}\t{}'.format(name, 1))

Hello, World	1

In [23]:
print('Hello, %s %d' % (name, 1))

Hello, World 1

In [24]:
# in python 3.6
a = 34
print(f'Hello, {name}!\t {a}')

Hello, World!	 34

In [25]:
tag_list = 'park, mstu, 21.09'
splitted = tag_list.split(', ')

print(splitted)

['park', 'mstu', '21.09']

In [26]:
print(.2 + .21)

0.41000000000000003

In [27]:
print('\n'.join(splitted))

park
mstu
21.09

In [28]:
input_string = ' 79261234567'
input_string = input_string.strip(' 972')

In [29]:
input_string

'6123456'

In [30]:
input_string = ' 79261234567'
input_string.replace('2', '')

' 796134567'

In [31]:
'th' in 'python'

True

#### slices

In [32]:
text = "Тут написан какой-либо текст"
print(text[0]) # Выводит первый символ
print(text[0:5]) # Выводит подстроку text от 0 символа до 5 (включительно с нулевым, исключая пятый)
print(text[4:10]) # Выведет строку от 4 символа до 10 (включая четвертый, исключая 10)
print(text[0:14]) # Выведет всю строку
print(text[7:]) # Выведет строку с 7 символа до конца
print(text[:5]) # Выведет строку с начала до 5 символа. Аналогично print text[0:5]
print(text[:]) # Выведет всю строку
print(text[-1]) # Выводит последний символ
print(text[-1:-14]) # Не сработает, выведет пустую строку
print(text[::2]) # Третий аргумент - шаг. Выведет каждый второй символ
print(text[::-1]) # Шаг отрицательный. Выведет фразу наоборот
print(text + "Nice to code you") # Выведет новую строку
print(text[-1] * 10) # Выведет 10 восклицательных знаков

Т
Тут н
написа
Тут написан ка
исан какой-либо текст
Тут н
Тут написан какой-либо текст
т

Ттнпснккйлб ес
тскет обил-йокак насипан туТ
Тут написан какой-либо текстNice to code you
тттттттттт

# 2. Базовые конструкции

## 2.1 Условный оператор

In [33]:
type(10 > 9)

bool

In [34]:
10 > 9

True

In [35]:
type(False)
bool(None)

False

### Boolean

True / False (\_\_bool\_\_)

| True              | False |
| ----------------- | ----- |
| True              | False |
| Большинство объектов | None  |
| 1                 | 0     |
| 3.2               | 0.0   |
| 'string'	        | ""    |

In [36]:
a = 10
b = 10

print(a <= b)

True

In [37]:
1 < a < 5

False

In [38]:
bool(0.0)

False

In [39]:
bool('')

False

In [40]:
13 < 12 < foo_call()

False

In [41]:
import random

temperature_tomorrow = random.randint(18, 27)
print("t:", temperature_tomorrow)
if temperature_tomorrow >= 23:
    print('Срочно на пляж!')
else:
    print(':(')

t: 20
:(

In [42]:
temperature_tomorrow = random.randint(18, 27)
decision = 'пляж' if temperature_tomorrow >= 23 else 'дома посижу'
print(decision)

пляж

In [44]:
answer = input('The answer to life the universe and everything is: ')
answer = answer.strip().lower()

if answer == '42':
    print('Точно!')
elif (answer == 'сорок два') or (answer == 'forty two'):
    print('Тоже вариант!')
else:
    print('Нет')

The answer to life the universe and everything is:  a

Нет

In [45]:
bool(None)

False

In [46]:
type(None)

NoneType

In [47]:
a = 1
b = 1.0

In [48]:
a is b

False

In [49]:
c = b

In [50]:
c is b

True

In [51]:
a = None
print(a is None)

True

### Задача 1

Определить, является ли введеный год високосным. Год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400

In [52]:
import calendar

calendar.isleap(2000)

True

In [53]:
5 % 3

2

In [54]:
raw_year = input('Year: ')
year = int(raw_year)

if year % 400 == 0:
    print('Високосный')
    
elif year % 4 == 0 and year % 100 != 0:
    print('Високосный')

else:
    print('Нет :(')

Year:  123

Нет :(

## 2.2 Циклы

In [55]:
for letter in 'python':
    print(letter)

p
y
t
h
o
n

In [56]:
for i in range(33, 20, -3):
    print(i)

33
30
27
24
21

In [57]:
for i in reversed(range(33, 20, -3)):
    print(i)

21
24
27
30
33

In [58]:
for i in range(21, 34, 3):
    print(i)

21
24
27
30
33

In [59]:
for idx, letter in enumerate('python'):
    print(idx, letter)

0 p
1 y
2 t
3 h
4 o
5 n

### Задача 2

Вывести кубы всех чисел, которые делятся на 4, от 1 до 100 включительно

In [60]:
for i in range(4, 101, 4):
    print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

In [61]:
for i in range(1, 101):
    if i % 4 == 0:
        print(i)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100

### Задача 3

Вывести все гласные буквы (буквы из строки vowels), которые есть в строке lorem

#### Для умных: 
Вывести гласные буквы без повторений

In [62]:
vowels = "eyuioa"
lorem = '''Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. '''

In [63]:
letters = ""

for letter in lorem:
    if letter in vowels:
        if not letter in letters:
            print(letter)
        letters = letters + letter

o
e
i
u
a